/*Reset CS truoc khi bat dau*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", "Helvetica";
}
body {
    height: 100vh;
}

.search-area {
    height: 8%;
    width: 100%;
    background-color: #0070F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.search-area .search-bar {
    width: 80%;
    height: 40px;
}
.search-area .search-bar i {
    color: white;
    padding: 5px;
}
.search-area .search-bar input {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
}
.search-area .staff-name {
    width: 20%;
    color: white;
}

.container {
    height: 84%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.container .products {
    height: 100%;
    width: 70%;
}
.container .products .product {
    height: calc(100% - 50px);
    width: 100%;
}
.container .products .note {
    height: 50px;
    width: 100%;
}
.container .products .note input {
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.container .payment-area {
    height: calc(100% - 20px);
    width: 30%;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.container .payment-area button {
    margin: 10px;
    width: 90%;
    height: 50px;
    border: none;
    background-color: #0070F4;
    color: white;
    font-size: 20px;
    border-radius: 10px;

}
.footer {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.btn {
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 30px;
    color: white;
    background-color: #0070F4;
}
.suggest-search {
    display: flex;
    cursor: pointer;
    padding: 10px;
}
.suggest-search:hover {
    background: antiquewhite;
}
.suggest-search img{
    width: 100px;
    object-fit: cover;
    margin-right: 10px;
}
.suggest-search info {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search-result {
    background: white;
    position: absolute;
    border-radius: 5px;
    top: 70px;
    width: 45%;
    left: 40px;
}
.hide {
    display: none;
}