/*Reset CS truoc khi bat dau*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", "Helvetica";
}
body {
    height: 100vh;
}

.search-area {
    height: 10%;
    width: 100%;
    background-color: #0070F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.search-area .search-bar {
    width: 80%;
    height: 40px;
}
.search-area .search-bar input {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
}
.search-area .staff-name {
    width: 20%;
    color: white;
}

.container {
    height: 80%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.container .products {
    height: 100%;
    width: 70%;
}
.container .payment-area {
    height: calc(100% - 20px);
    width: 30%;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.container .payment-area button {
    margin: 10px;
    width: 90%;
    height: 50px;
    border: none;
    background-color: #0070F4;
    color: white;
    font-size: 20px;
    border-radius: 10px;

}

.container .products {
    height: calc(100% - 50px);
    width: 100%;
}
.container .products .note {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: none;
}
.footer {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.btn {
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 30px;
    color: white;
    background-color: #0070F4;
}


.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background-color: white;
    display: none;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.products {
    cursor: pointer;
    overflow: hidden;
    overflow-y: scroll;
}
.products:hover {
    background: antiquewhite;
}